.pop-up__span-error {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  position: absolute;
  top: 35px;
  width: max-content;
  max-width: 238px;
}

@media screen and (min-width: 1024px) {
  .pop-up__span-error {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    position: absolute;
    top: 35px;
    width: max-content;
    max-width: 358px;
  }
}