.header__block {
  width: 83.125%;
  margin: 0 auto;
  padding: 28px 0 27.6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__block {
    padding: 35px 0 31px;
    width: 700px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }
}

@media screen and (min-width: 1024px) {
  .header__block {
    padding: 45px 0 37px;
    width: 880px;
  }
}