.pop-up__full-close {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: transparent;
  top: -36px;
  right: 0;
  padding: 0;
}

.pop-up__full-close:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .pop-up__full-close {
    top: -52px;
    right: -52px;
  }
}