.pop-up__close {
  position: absolute;
  right: 0;
  top: -36px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.pop-up__close:hover {
  opacity: .6;
}

@media screen and (min-width: 768px) {
  .pop-up__close {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}